<ul class="nav navbar-nav navbar-right">
    <li><a asp-area="" asp-controller="Auth" asp-action="Register"><p>Register</p></a></li>
    <li><a asp-area="" asp-controller="Auth" asp-action="Login"><p>Log in</p></a></li>
</ul>  