@{
    ViewData["Title"] = "PayFor";
}
@section Scripts{

    <!-- <script src="~/app/app-filters.js"></script>
    <script src="~/app/components/shared/isBusy.js"></script>
    <script src="~/app/components/group/groupRow.js"></script>
    <script src="~/app/components/group/group.js"></script>
    <script src="~/app/components/group/createGroup.js"></script>
    <script src="~/app/components/group/groups.js"></script>
    <script src="~/app/app-payfor.js"></script> -->
}
<div id="app">
    <mainwrapper></mainwrapper>
</div>